.app {
  /*margin: 0 auto;*/
  /*max-width: 800px;*/
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 100px;

}
.bottom-panel {
  margin-top: 20px;
}

.bottom-panel .new-post-label {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
}