.message {
  align-items: start;
  /*justify-content: space-between;*/
  width: 150px;
  border: 1px solid darkgrey;
  border-radius: 15px;
  padding: 5px;
}

.message-text {
  font-size: 20px;
  color: darkgrey;
  padding: 5px;
  display: flex;
}

